.l-page {
    //ESTO HAY QUE DARLE UNA VUELTA
    //ES UNA CHAPUZA
    // overflow-x: hidden;

    display: grid;
    grid-template-areas:
        "l-page__header l-page__header"
        "l-page__menu-lateral l-page__content"
        "l-page__footer l-page__footer";
    grid-auto-columns: 10% 90%;

    &__header {
        grid-area: l-page__header;
    }

    &__content {
        grid-area: l-page__content;
        position: relative;

        width: 100vw;
        left: -10vw;

        //animacion cerrar content
        &__animacion-sin-sidebar {
            animation-name: animacion__sin-sidebar;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

        @keyframes animacion__sin-sidebar {
            0% {
                width: 90vw;
                left: 0;
            }

            100% {
                width: 100vw;
                left: -10vw;
            }
        }

        //animacion abrir content
        &__animacion-con-sidebar {
            animation-name: animacion__con-sidebar;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-direction: reverse;
            animation-timing-function: ease-in-out;
        }

        @keyframes animacion__con-sidebar {
            0% {
                width: 90vw;
                left: 0;
            }

            100% {
                width: 100vw;
                left: -10vw;
            }
        }
    }

    &__menu-lateral {
        grid-area: l-page__menu-lateral;
        position: relative;

        left: -10vw;

        //animacion cerrar hamburguesa lateral
        &__animacion-cerrar {
            animation-name: animacion__cerrar-menu-lateral;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

        @keyframes animacion__cerrar-menu-lateral {
            0% {
                left: 0vw;
            }

            100% {
                left: -10vw;
            }
        }

        //animacion abrir hamburguesa lateral
        &__animacion-abrir {
            animation-name: animacion__abrir-menu-lateral;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-direction: reverse;
            animation-timing-function: ease-in-out;
        }

        @keyframes animacion__abrir-menu-lateral {
            0% {
                left: 0vw;
            }

            100% {
                left: -10vw;
            }
        }
    }

    &__footer {
        grid-area: l-page__footer;
        padding-top: 2%;
    }


}