.portada {
    display: grid;
    grid-template-areas: ". carousel ."
        "paneles paneles paneles";
    gap: 20px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 60vh auto;

    &__carousel {
        grid-area: carousel;
        padding: 2% 10%;
    }

    &__paneles {
        grid-area: paneles;
        padding: 0 4%;
    }
}