.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__paneles {
        padding: 2%;
    }

    &__enlaces {
        background-color: #ebebeb;
    }

    &__disclaimer {
        text-align: center;
        font-size: small;
        font-weight: lighter;
        color: #343434;
        background-color: #d4d4d4;
        padding: 1%;
    }
}