.log-in {
    z-index: 1000;
    position: absolute;
    opacity: 0;

    border: $colorSecundario 2px solid;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;

    display: none;
    flex-direction: column;

    &__label {
        margin-right: 15px;
        width: 20px;
    }

    &__nombre {
        display: flex;
        margin-bottom: 5%;
    }

    &__contrasenya {
        display: flex;
        margin-bottom: 5%;
    }

    &__boton {
        width: 100%;
    }

    &--visible {
        display: flex;
        opacity: 1;
    }
}