.panel {
    font-family: 'Merriweather Sans';
    background-color: $colorSecundario;
    color: #cfcfcf;
    height: 100%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    cursor: pointer;

    transition: 0.2s;
    &:hover{
        background-color: darken($colorSecundario, 10);
    }
}